 body{
    font-family: 'Akaya Telivigala', cursive;
    background-color: wheat;
 }
 
 .copy_right_footer {
    position:fixed;
    color: blue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: red;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px salmon;
    font-family: 'Vujahday Script', cursive;
}
.header_div p{
   font-size: 12px;
   font-weight: bold;
   color: white;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 1px;
}
.main_div button{
   margin-top: 30px;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 3px;
   font-weight: bolder;
   width: 130px;
}
.header_div{
   background: #95a3a4;
   color: white;
}